config.json
.env
# Ignore compiled Python files
_pycache_/
*.pyo
*.pyd

# Ignore flask session data
flask_session/

# Ignore general system files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp
*.swp
*.bak

# Ignore environment and virtualenv
.env
.venv/
venv/
ENV/
env/
*.egg-info/

# Ignore project-specific files
fortillm_ui/_pycache_/
models/_pycache_/
routes/_pycache_/
controllers/_pycache_/
../fortillm//_pycache_/